.font-weight-light {
  font-weight: $font-weight-light;
}
.font-weight-regular {
  font-weight: $font-weight-regular;
}
.font-weight-bold {
  font-weight: $font-weight-bold;
}
.max-width {
  max-width: font-rem(1240);
  margin-left: auto;
  margin-right: auto;
  padding-left: font-rem(15);
  padding-right: font-rem(15);
}
.button-style {
  $color-button: #d9b878;
  background-color: transparent;
  border: 1px solid $color-button;
  padding: font-rem(10) font-rem(15);
  transition: all .2s;
  cursor: pointer;
  font-weight: $font-weight-bold;
  border-radius: font-rem(3);

  &:hover {
    background-color: $color-button;
    color: white;
  }
  &--remove {
    border: 1px solid red;

    &:hover {
      background-color: red;
    }
  }
}
.empty-state{
  text-align: center;
  margin: font-rem(25) 0;
}
