* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto';
  font-size: $font_base+px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
h1 {
  font-size: font-rem(36);
}
h2 {
  font-size: font-rem(30);
}
h3 {
  font-size: font-rem(24);
}
h4 {
  font-size: font-rem(18);
}
h5 {
  font-size: font-rem(14);
}
h6 {
  font-size: font-rem(12);
}
