$z-low: 1;
$z-med: 5;
$z-high: 10;
$z-max: 1000;

/*=========
TYPOGRAPHY
=========*/
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-12: font-rem(12);
$font-size-14: font-rem(14);
$font-size-18: font-rem(18);
$font-size-24: font-rem(24);
$font-size-30: font-rem(30);
$font-size-36: font-rem(36);
/*=========
COLORS
=========*/
$color-bg: #f5f5f5;
$color-gray-5b: #5b5b5b;
$color-gray-4d: #4d514e;
$color-gray-70: #707070;
