<template>
  <div class="app" id="app">
    <router-view name="top"></router-view>
    <router-view></router-view>
  </div>
</template>

<style lang="scss">
  @import "../styles/main";
  @import "../styles/partials/globals";
  @import "../styles/partials/framework";

</style>
