<template>
  <div class="cartItem" :data-id="id">
    <div class="cartItem__top">
      <img class="cartItem__thumbnail" :src="thumbnail" alt="Image">
      <div class="cartItem__quickView">
        <input class="button-style" type="button"
               value="Quick View"
               @click="openQuickView">
      </div>
    </div>
    <div class="cartItem__bottom">
      <div class="cartItem__price">{{price}}</div>
      <input class="button-style" type="button" value="Add To Cart" @click="addToCart">
    </div>
  </div>
</template>

<script>
  export default{
    props: ['id', 'thumbnail', 'price'],
    methods: {
      openQuickView(){
        this.$emit('openQuickView', this.$el.dataset.id)
      },
      addToCart(){
        this.$store.commit('addToCart', this.$el.dataset.id)
      }
    }
  }
</script>
<style lang="scss" scoped>
  @import "../styles/main";
  .cartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: font-rem(220);
    margin-bottom: font-rem(15);
    border: 1px solid rgba(gray, .5);
    border-radius: font-rem(3);

    &:hover {
      .cartItem__quickView {
        opacity: 1;
        visibility: visible;
      }
    }
    &__top {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: font-rem(25) 0;
    }
    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-bottom: font-rem(15);
      background-color: rgba(gray, .1);
    }
    &__price {
      margin: font-rem(10) 0;
    }
    &__quickView {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(black, .5);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;

      .button-style {
        color: white;
      }
    }
    @media (max-width: font-rem(500)) {
      flex-basis: 100%;
    }
  }
</style>
