<template>
  <header class="header">
    <!-- CHECKOUT MODAL -->
    <h5 class="msg-box">
      <span>You successfully purchased the items</span>
    </h5>
    <transition name="fade">
      <modal :modal-flag="modalFlag" :customClass="'purchasedProducts'" @closeModal="modalFlag=false">
        <div v-for="product in purchasedProducts" class="modal__item">
          <div class="modal__thumbnail">
            <img :src="product.image" alt="Thumbnail">
          </div>
          <div class="modal__data" :data-id="product._id">
            <div class="modal__dataItem">
              <span class="modal__title">Price:</span>
              <span class="modal__value">{{product.price}}</span>
            </div>
            <div class="modal__dataItem">
              <span class="modal__title">Quantity:</span>
              <span class="modal__value">{{product.quantity}}</span>
            </div>
            <div class="modal__dataItem">
              <input class="button-style button-style--remove" type="button" value="Remove" @click="removeItem(product._id)">
            </div>
          </div>
        </div>
        <h5 class="empty-state" v-show="!purchasedProducts.length">There are no products to show!!!</h5>
        <div class="modal__dataItem" v-show="purchasedProducts.length">
          <input class="button-style" type="button" value="Checkout" @click="checkout">
        </div>
      </modal>
    </transition>
    <!-- HEADER CONTENT -->
    <div class="max-width header__content">
      <div class="header__cart" @click="modalFlag=true">
        <span class="header__cartValue">{{cartValue | currency}}</span>
        <img class="header__cartIcon" src="../../static/images/icon-cart.png" alt="Cart">
      </div>
      <div class="header__logo">
        <h2 class="font-weight-bold">SHOPPING</h2>
        <h2 class="font-weight-light">CART</h2>
      </div>
      <ul class="header__navs">
        <li class="header__navLink">
          <router-link to="/">HOME</router-link>
        </li>
        <li class="header__navLink">ABOUT</li>
        <li class="header__navLink">CONTACT</li>
      </ul>
    </div>
  </header>
</template>

<script>
  import modal from './modal.vue'
  export default{
    components: {modal},
    data(){
      return {
        modalFlag: false
      }
    },
    methods: {
      checkout(){
        this.showMsgBox()
        this.$store.commit('checkout')
      },
      removeItem(productID){
        this.$store.commit('removeFromCart', productID)
      },
      showMsgBox(){
        document.querySelector('.msg-box').classList.add('msg-box--show')
        setTimeout(function() {
          document.querySelector('.msg-box').classList.remove('msg-box--show')
        }, 1500)
      }
    },
    computed: {
      cartValue(){
        return parseFloat(this.$store.state.cartValue.total);
      },
      purchasedProducts(){
        let purchasedProducts = [],
          productsInCart = this.$store.state.cartValue.productsInCart;

        if (productsInCart.length > 0) {
//          debugger
          productsInCart.forEach(p => {
            let selectedProduct = this.$store.state.products.find(product => product._id == p.id);
            selectedProduct.quantity = p.quantity;
            purchasedProducts.push(selectedProduct)
          })
        }
        return purchasedProducts;
      }
    }
  }
</script>
<style lang="scss" scoped>
  @import "../styles/main";
  .header {
    width: 100%;
    justify-content: center;
    background-color: #f5f4f0;
    padding-bottom: font-rem(10);

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: font-rem(1240);
    }
    &__logo {
      display: flex;
      margin: font-rem(20) 0 font-rem(20) 0;

      @media (max-width: font-rem(500)) {
        margin: font-rem(40) 0 font-rem(20) 0;
      }
    }
    &__navs {
      display: flex;
    }
    &__navLink {
      cursor: pointer;

      &:hover, .router-link-active {
        border-bottom: 2px solid rgba(black, .5);
      }
      &:not(:last-of-type) {
        margin-right: font-rem(10);
      }
    }
    &__cart {
      position: absolute;
      right: font-rem(15);
      top: font-rem(15);
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: $font-size-12;
      font-weight: $font-weight-bold;
      cursor: pointer;
    }
    &__cartValue {
      margin: 0 font-rem(2) 0 font-rem(1);
    }
    &__cartIcon {
      width: font-rem(16);
    }
  }
  .msg-box {
    position: fixed;
    top: font-rem(15);
    right: font-rem(15);
    background-color: white;
    padding: font-rem(15);
    border-radius: 3px;
    z-index: $z-max;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &--show {
      opacity: 1;
      visibility: visible;
    }
  }
</style>
