<template>
  <div class="home">
    <transition name="fade">
      <modal :modal-flag="modalFlag" @closeModal="modalFlag=false">
        <div class="modal__thumbnail">
          <img :src="quickView.image" alt="Thumbnail">
        </div>
        <div class="modal__data">
          <div class="modal__dataItem">
            <span class="modal__title">Price:</span>
            <span class="modal__value">{{quickView.price}}</span>
          </div>
          <div class="modal__dataItem">
            <span class="modal__title">Stock:</span>
            <span class="modal__value">{{quickView.stock.remaining}}</span>
          </div>
          <div class="modal__dataItem">
            <span class="modal__title">Color:</span>
            <span class="modal__value">{{quickView.color}}</span>
          </div>
          <div class="modal__dataItem">
            <span class="modal__title">Description:</span>
            <span class="modal__value">{{quickView.description}}</span>
          </div>
          <div class="modal__dataItem">
            <input class="button-style" type="button" value="Add To Cart" @click="addToCart">
          </div>
        </div>
      </modal>
    </transition>
    <div class="max-width home__content">
      <cart-item v-for="product in products"
                 :key="product._id"
                 :id="product._id"
                 :thumbnail="product.image"
                 :price="product.price"
                 @openQuickView="openQuickView"></cart-item>
    </div>
  </div>
</template>

<script>
  import modal from './modal.vue'
  import cartItem from './cartItem.vue'

  export default{
    components: {modal, cartItem},
    data(){
      return {
        show: true,
        modalFlag: false,
        quickView: {
          thumbnail: '',
          price: '',
          stock: '',
          color: '',
          description: ''
        }
      }
    },
    computed: {
      products(){
        return this.$store.state.products;
      }
    },
    methods: {
      openQuickView(cartID) {
        this.modalFlag = true;
        const productIndex = this.products.findIndex(p => p._id == cartID);
        this.quickView = this.products[productIndex];
      },
      addToCart(){
        this.$store.commit('addToCart', this.quickView._id)
      }
    }
  }
</script>
<style lang="scss">
  @import "../styles/main";
  .home {
    &__content {
      padding-top: font-rem(15);
      padding-bottom: font-rem(15);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
</style>
