<template>
  <div class="modal" v-if="modalFlag" @click.stop="closeModal">
    <div class="modal__box" @click.stop="">
      <div class="modal__close" @click.stop="closeModal">x</div>
      <div class="modal__content" :class="['modal__content--'+customClass]">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
  export default{
    props: ['modalFlag', 'thumbnail', 'purchasedProducts', 'customClass'],
    computed: {
      modalFlag(){
        return this.$props.modalFlag;
      }
    },
    methods: {
      closeModal(){
        this.$emit('closeModal')
      }
    }
  }
</script>
<style lang="scss">
  @import "../styles/main";
  .modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(black, .5);
    z-index: $z-high;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
      position: relative;
      background-color: white;
      padding: font-rem(30);
      border-radius: 3px;
      max-width: font-rem(600);
      margin-left: font-rem(15);
      margin-right: font-rem(15);
      width: 100%;
      max-height: 90%;
      overflow: auto;
    }
    &__close {
      position: absolute;
      font-size: $font-size-14;
      top: font-rem(10);
      right: font-rem(10);
      cursor: pointer;
    }
    &__content {
      display: flex;

      &--purchasedProducts {
        flex-direction: column;
      }
    }
    &__thumbnail {
      margin-right: font-rem(15);
    }
    &__dataItem {

      &:not(:first-of-type) {
        margin: font-rem(10) 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__title {
      font-weight: $font-weight-bold;
    }
    &__item {
      display: flex;
    }
  }
</style>
